* { margin: 0; padding: 0; box-sizing: border-box; }
body {
    font-family: monospace;
    background: #333;
    text-align: center;
}
#url {
    position: fixed;
    background: #00000099;
    bottom: 0;
    right: 0;
    padding: 2px;
}
#url a {
    color: #f0f;
    font-size: 12pt;
}
#url a:hover {
    background: #f0f;
    color: #fff;
}
#main {
    width: 100%;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
}
video {
    width: 100%;
    height: auto;
    max-height: 100vh;
}
img {
    width: 100%;
    height: auto;
}

